<ion-header>

  <ion-navbar>
    <ion-title>{{this.giftboxService.getGiftWithID(this.giftId).title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="this.giftboxService.getGiftWithID(this.giftId).isWrapped()">
    <p>This Gift is still wrapped! Tap any incomplete challenges below to keep unwrapping the Gift.</p>
  </ng-container>
  <ng-container *ngIf="!this.giftboxService.getGiftWithID(this.giftId).isWrapped()">
    <p>You have unwrapped{{this.giftboxService.getGiftWithID(this.giftId).experienced ? ' and experienced' : ''}} this gift.</p>
    <button ion-button success (click)="this.viewPayloads()">Look inside your Gift</button>
  </ng-container>

  <ng-container *ngIf="this.giftboxService.getGiftWithID(this.giftId).isWrapped()">
    <ion-list>
      <button ion-item *ngFor="let wrap of this.giftboxService.getGiftWithID(this.giftId).wraps" (click)="wrapTapped($event, wrap)">
        <ion-icon [name]="wrap.isComplete() ? 'checkmark-circle' : 'close-circle'" [color]="wrap.isComplete() ? 'secondary' : 'danger'" item-left></ion-icon>
        {{wrap.title}}
      </button>
    </ion-list>
  </ng-container>
</ion-content>
