<!--
  Generated template for the GiftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{this.gift.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="this.gift.isWrapped()">
    <p>This Gift is still wrapped! Tap any incomplete challenges below to keep unwrapping the Gift.</p>
  </ng-container>
  <ng-container *ngIf="!this.gift.isWrapped()">
    <p>This Gift has already been unwrapped.</p>
    <button ion-button success (click)="this.viewPayload()">Look inside your Gift</button>
  </ng-container>

  <ion-list>
    <button ion-item *ngFor="let wrap of this.gift.wraps" (click)="wrapTapped($event, wrap)">
      <ion-icon [name]="wrap.isComplete() ? 'checkmark-circle' : 'close-circle'" item-left></ion-icon>
      {{wrap.title}}
      <div class="item-note" item-right>
        <ng-container *ngIf="!wrap.isComplete()">Not yet completed</ng-container>
        <ng-container *ngIf="wrap.isComplete()">Completed</ng-container>
      </div>
    </button>
  </ion-list>
</ion-content>
