<ion-header>
  <ion-navbar>
    <ion-title>Gift from {{this.giftboxService.getGiftWithID(this.giftId).sender}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--  <ion-slides pager>
    <ion-slide *ngIf="!this.giftboxService.getGiftWithID(this.giftId).unwrapped">
      <h2>What's inside?</h2>
      <div>Swipe left to start looking.</div>
    </ion-slide> -->
    <ion-card *ngFor="let payload of this.giftboxService.getGiftWithID(this.giftId).payloads">
      <ion-item>
        <h1 text-wrap>{{this.giftboxService.getGiftWithID(this.giftId).title}}</h1>
      </ion-item>
      <ng-container *ngIf="this.getExhibit().post_image">
        <img [src]="this.getExhibit().post_image"/>
      </ng-container>
      <ion-card-content>
        <p [innerHTML]="payload.content"></p>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!this.giftboxService.getGiftWithID(this.giftId).unwrapped && this.giftboxService.hasMoreGifts()">
      <ion-card-content>
        <ion-card-title>
          That's all for this part
        </ion-card-title>
        <div>There are more parts of your gift waiting for you.</div>
        <div>Tap 'Continue' to move on.</div>
        <button ion-button (click)="leaveGift()">
          Continue
        </button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!this.giftboxService.getGiftWithID(this.giftId).unwrapped && !this.giftboxService.hasMoreGifts()">
      <ion-card-content>
        <ion-card-title>
          That's everything!
        </ion-card-title>
        <div>You have finished experiencing your gift from {{this.giftboxService.getGiftWithID(this.giftId).sender}}.</div>
        <button ion-button (click)="leaveGift()">
          OK
        </button>
      </ion-card-content>
    </ion-card>
<!--    <ion-slide *ngIf="!this.giftboxService.getGiftWithID(this.giftId).unwrapped">
      <h2>That's everything!</h2>
      <div>You have finished unwrapping and experiencing your gift.</div>
      <div>You can swipe back for another look, or tap 'Done'.</div>
      <button ion-button (click)="leaveGift()">
        Done
      </button>
    </ion-slide> 
  </ion-slides>-->
</ion-content>
