<ion-header>

  <ion-navbar>
    <ion-title>Wrap</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let challenge of this.giftboxService.getWrapWithID(this.giftId, this.wrapId).challenges" (click)="challengeTapped($event, challenge)">
      <ion-icon [name]="challenge.completed ? 'checkmark-circle' : 'close-circle'" item-left></ion-icon>
      {{challenge.type}} : {{challenge.task}}
      <div class="item-note" item-right>
        <ng-container *ngIf="!challenge.completed">Not yet completed</ng-container>
        <ng-container *ngIf="challenge.completed">Completed</ng-container>
      </div>
    </button>
  </ion-list>
</ion-content>
