<ion-header>
  <ion-navbar>
    <ion-title>Your gift</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager>
    <ion-slide *ngIf="!this.giftboxService.getGiftWithID(this.giftId).received">
      <h2>Welcome to your gift</h2>
      <div>Swipe left to look at your giftcard.</div>
    </ion-slide>
    <ion-slide>
      <h2>{{this.giftboxService.getGiftWithID(this.giftId).title}}</h2>
      <div [innerHTML]="this.giftboxService.getGiftWithID(this.giftId).giftcard.content"></div>
      <div><em>From {{this.giftboxService.getGiftWithID(this.giftId).sender}}</em></div>
      <button ion-button (click)="leaveGiftcard()">
        Continue
      </button>
    </ion-slide>
<!--    <ion-slide *ngIf="!this.giftboxService.getGiftWithID(this.giftId).received">
      <h2>Unwrap me</h2>
      <div>{{this.giftboxService.getGiftWithID(this.giftId).sender}} has set challenges that you must complete before you can look inside your gift.</div>
      <div>Tap "Start" to see what you need to do.</div>
      <button ion-button (click)="leaveGiftcard()">
        Start
      </button>
    </ion-slide> -->
  </ion-slides>
</ion-content>
