<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your gifts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!allGiftsUnwrapped()">
    <ion-card>
      <img src="./assets/callout.jpg"/>
      <ion-card-content>
        <ion-card-title>
          You have new gifts!
        </ion-card-title>
        <div>
          Tap one of the gifts below to continue.
        </div>
      </ion-card-content>
    </ion-card>
    <ng-container *ngFor="let item of items">
      <ion-card class="gift" *ngIf="this.giftboxService.getGiftWithID(item.id).isWrapped()" (click)="itemTapped($event, item)">
        <ion-card-content>
          <ion-card-title>
            {{item.title}}
          </ion-card-title>
          <div>
            Tap here to read the gift card.
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
  <ion-card *ngIf="items.length == 0">
    <img src="./assets/sad.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Sorry!
      </ion-card-title>
      <div>
        You don't have any gifts.
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="allGiftsUnwrapped()" (click)="logout()">
    <img src="./assets/empty.jpg"/>
    <ion-card-content>
      <ion-card-title>
        All gifts unwrapped
      </ion-card-title>
      <div>
        Outro text.
      </div>
    </ion-card-content>
  </ion-card>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="./assets/white-icon-circle-text-hor.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
<!--  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.sender}}
      </div>
    </button>
  </ion-list> -->

</ion-content>
